mixin nav-content()
    ul
        li: a(href="#about") A B O U T
        li: a(href="#art") A R T
        li: a(href="#music") M U S I C
        li: a(href="#photography") P H O T O G R A P H Y
        li: a(href="#writing") P R O S E  &  V E R S E

.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo B E N J A M I N S T E E L // e x p r e s s i o n s
        nav.site-nav
            +nav-content()


        p.email-link 
            |W R I T E 
            br
            |M E @ ///benjamings@rogers.com///
        
        .mobile-nav-toggle: span
            