section.about
    .flex.flex--center
        .col-1.order-first
            p(id="about")
                |im in grade 12 at Upper Canada College in Toronto, Canada. im passionate about the arts, so i decided to collect some of my work from over my years in high school and showcase it in an online portfolio. i coded this website myself; i had some knowledge of coding from a course i took in grade 9, but im also self taught with the guidance of internet resources like YouTube, stack overflow, and other forums. i have uploaded a github repository of my code with screenshots of the process:
            a(href="https://github.com/benjaminsteel/benjaminsteel.github.io") my Github
        .col-1
            h2 im Ben Steel; this is my portfolio. 
            
            