section.columns
    .flex.flex--center
        .col-1
            a#writing
            p   
                | Winter Thoughts
            p1
                |O snow! When you fall,
                br
                |sharp crystals slice my tired skull;
                br
                |the weight pulls me down.
                br
                br
                |Winds wail in the ripe
                br
                |morning. A busy breeze touches
                br
                |my neck with shivers.
                br
                br
                |As I wait for march,
                br
                |I notice a blue jay out
                br
                |the foggy window. 
                br
                br
                |I chant: audacem
                br
                |faciebat amor. My love
                br
                |above mental toll. 



        .col-1
            a(href="https://drive.google.com/drive/folders/17IxjLHfdQUs2WgLscQYGUfI6Jf10C2BW") Collection of Literature Essays

//section
    .flex.flex--space-around
        .col-1
            p LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM
        .col-1.order-first
            p  CTA LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM