section.music
    .flex.flex--center
        .col-art
            a#music
            a(href="https://soundcloud.com/bengivertzsteel/i-miss-u").music-1 
                
        .col-art
            a(href="https://soundcloud.com/bengivertzsteel/okayy").music-2
    //.flex.flex--space-around
        .col-art
            .art-3