section.columns
    .col-1
        position: relative
        top: 400px
        left: 25px
        z-index: 5
        p
            font-weight: bold
            
        a
            font-style: italic
            color: red